body {
    background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);

}

h1,
h2 {
    text-align: center;
    color:aliceblue;
}

h1 {
    transition: 0s;
    transform: scale(1.1);

}

section {
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;

}


.card {
    /* background-color: rgb(68, 66, 66); */
    width: calc(76%/3);
    height:150px;
    border-radius: 25px;
    margin: 2%;
    padding: 2%;
    text-align: center;
    transition: 0.3s;
    color:#5B4A2E;

}

.card:nth-child(1){
    background-color: #FAF8F1;
}
.card:nth-child(2){
    background-color: #FAEAB1;
}
.card:nth-child(3){
    background-color: #E5BA73;
}
.card:nth-child(4){
    background-color: #C58940;
}
.card:nth-child(5){
    background-color: #FAF8F1;
}
.card:nth-child(6){
    background-color: #FAEAB1;
}

.card:hover {
    transform: scale(1.1);
}

.card_name {
    font-size: 20px;
    font-weight: bold;
}

.card_name span {
    font-size: 15px;
}

.card_total {
    font-size: 150%;
    font-weight: bold;

}

/* footer> a {
text-align: center;
} */
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:right;
    width:100%;
    /* background-color:#555; */
    padding:20px 0;
}
.footer p {float:left; width:100%; text-align:center; }